<link rel="stylesheet" href='../static/css/About.css'></link>
<div class='Top'>
		<a style='cursor:pointer;' href='None'>
			<form method ='post' action='/'><input type="image" src="..//static/Grosearch.png" name="saveForm" class="Logo" id="saveForm" /></form>
		</a>
</div>
<div class='Middle'>
<h1 class='About'> About </h1>
<p>Searching for grocery across multiple websites has always been cumbersome due to redundant typing, and tabs cluttering the browser. Now is the time to simplify, and declutter. Welcome to Grosearch, a application with a powerful singular search able to traverse through several stores displaying popular products to users while focusing in on budgeting and low prices. Grosearch seeks to foster an enviornment where money and time is saved alongside stopping digital headach</p>
<h1 class='About'> Lowest Prices Guaranteed</h1>
<p>A glaring issue about the displayed products that may arise at first sight is the lack of personalized options for sorting. This was done by design as Grosearch seeks to focus on budgeting, and sorting features have been omited as it is assumed users are seeking the lowest prices with less emphasis on other categories. Grosearch is catered towards students and anyone else who is seeking to save money. </p>

<h1 class='About'> The Stores </h1>
<p>The Stores have been selected based on their accessibility. The communications with Walmart are established by the utilization of their Application Programming Interface. Alternatively, communications with Sprouts, Costco, and Albertsons were established by scraping the publicly available data of their websites respectively. All rights are reserved to them, I do not seek personal monetary gain from this application. Links to retailer websites hosting the product have been provided if users are interested in purchasing a displayed product.</p>

 <h1 class='About'> Who am I </h1>
 <p> I am a second-year university student, and a grocery shopper who is tired of having to open numerous tabs, and redundantly type
 just to be met with sponsored products regardless of price, so I have decided to do something about it. I hope to expand this site to
 contain more grocers in the future. Please pay a visit to my personal website to explore other projects, and ideas linked below. Thank you for visiting Grosearch.</p>
<footer>
	<form method ='post' action='/about'><button class='Foots' href=none>About</button> | <button class='Foots'href='Noodle.com'>Blog</button></form>
</footer>
</div>

