<link rel="stylesheet" href='../static/css/About.css'></link>
<div class='Top'>
		<a style='cursor:pointer;' href='None'>
			<form method ='post' action='/'><input type="image" src="..//static/Grosearch.png" name="saveForm" class="Logo" id="saveForm" /></form>
		</a>
</div>
<div class='Middle'>
<h1 class='About'> About </h1>
<p> Comparing grocery products across multiple websites has always been a hassle due to redundant typing, and the opening of tabs that clutter the browser. Now is time to simplify, and declutter
 Welcome to Grosearch, a site dedicated to searching several grocery stores, with a singular search. It's the best place
saving time, money, and digital headaches</p>
<h1 class='About'> Lowest Prices Guaranteed</h1>
<p> One thing you'll notice about the displayed products is not only is each store sectioned off with their own products on
a singular page, but that the products are sorted by their price, as this site is dedicated to solely budgeting, and sorting features
have been omitted by choice as it would go against the purpose of searching for the lowest prices </p>

<h1 class='About'> The Stores </h1>
<p> The stores have been selected based on accessibility, and diversity. The partnership with Walmart is established by the utilization
of their Application Programming Interface. On the other hand, the partnerships with Sprouts, Costco, and Albertsons have been established
by scraping their data that has been made public on their websites respectively. All rights are reserved to them, and links to each and every product
have been provided if a user is interested in purchasing or learning more about their product within Grosearch. </p>

 <h1 class='About'> Who am I </h1>
 <p> I am a second-year university student, and a grocery shopper who is tired of having to open numerous tabs, and redundantly type
 just to be met with sponsored products regardless of price, so I have decided to do something about it. I hope to expand this site to
 contain more grocers in the near future. Please pay a visit to my personal website to explore other projects, and ideas linked below. Thank you for visiting Grosearch.</p>
<footer>
	<form method ='post' action='/about'><button class='Foots' href=none>About</button> | <button class='Foots'href='Noodle.com'>Blog</button></form>
</footer>
</div>

