*
{
	padding: 0;
	margin: 0;
}
.Page
{
	height: 100%;
	width: 100%;
	background-color: #383e42;
}
.Page input
{
	width: 50%
}

.ErrorMessage
{
	text-align: center;  
	color: #8BC53F;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-weight: 50;
	font-size: 50px;

}
.Redirect
{
	margin-top: 50px;
	text-align: center;  
	color: #8BC53F;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-weight: 50;
	font-size: 30px;
}