<link rel="stylesheet" href='../static/css/Home.css'></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<html>
<body>
<div class='Top'>
	<img class='Logo' src='../static/Grosearch.png'></img>
	<div class='Company'>
		<img class='Logos'  src='../static/Walmart.png' alt='Walmart' ></img>
		<img class='Logos'  src='../static/Sprouts.png' alt='Target' ></img>
		<img class='Logos'  src='../static/Albertsons.png' alt='albertsons' ></img>
		<img class='Logos'  src='../static/Cost.png' alt='CostCo' ></img>
	</div>
</div>
<div class='Middle'>
	<div class='search-container'>
			<div class='Trans'>
				<h1 class='Header'> FIND GROCERY NOW <h1>
				<h2 class='Header2'> Search Takes A Minute <h2>
			<form class='search' method ='post' action ='/search'>
				<input name='searchable' class ="Searchbar" type="text" placeholder="e.g. 'Bread'">
				<button name='searchable'class= 'Searchbutton'><i class="fa fa-search"></i></button>
			</form>
		</div>
	</div>
</div>

<div class='Bottom'>
 	<h1 class='Det'>No Tabs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Typing&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Hassle</h1>
 	<img class='Adj'  src=../static/Tabs.png></img>
 	<img  class='Adj' src=../static/typing.png></img>
 	<img class='Adj'  src=../static/Hassle.png></img>
</div>

<footer>
	<form method ='post' action='/about'><button class='Foots' href=none>About</button> | <button class='Foots'href='Noodle.com'>Blog</button></form>
</footer>
</body>
</html>